@mixin flex-define ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid-item-define ($col-start, $col-end, $row-start, $row-end) {
    grid-column-start: $col-start;
    grid-column-end: $col-end;
    grid-row-start: $row-start;
    grid-row-end: $row-end;
}

@mixin h2-title-style {
    font-family: "Istok Web";
    //font-size: 40px
    font-size: 2.5em;
    color: #0d0a0b;
}

@mixin h3-title-style {
    font-family: "Istok Web";
    //font-size: 24px
    font-size: 1.5em;
    color: #b875bf;
}

@mixin skill-style ($margin){
    display: inline-block;

    background-color: #bfb188;
    color: #333;

    //font-size: 12px (parent = 16px)
    font-size: 0.75em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    padding: 1rem 1.5rem;
    margin: $margin;
    // margin-right: 1.5rem;
    // margin-bottom: 1.5rem;
}

@mixin project-btn-style ($margin) {
    background: none;
    border: 3px solid #b875bf;
    border-radius: 20px;

    //font-size: 18px
    font-size: 1.125em;
    font-family: "Istok Web";
    font-weight: 700;
    color: black;
    white-space: nowrap;
    text-decoration: none;

    padding: 1rem;
    margin: $margin;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
    //1rem = 10px @ 62.5% Client's default
    scroll-behavior: smooth;
}
  
body {
    font-family: "Average", serif;
    font-weight: 400;
    //1em = 16px throughout app, assuming a child don't inherent parent's font-size
    font-size: 1.6em;
    line-height: 1.7;
    color: #5f5f5f;
}

.display-none {
    display: none !important;
}

////////// Regular Nav Section /////////

.nav {
    // display: block;
    position: absolute;
    width: 100%;
    background-color: rgba(13, 13, 13, 0.2);
    /* overflow: hidden; */
    z-index: 2;

    &__logo {
        font-family: "Istok Web";
        font-weight: 700;
        color: #b875bf;
        font-size: 2.5em;
        background-color: black;
        padding: 1rem;
        margin-left: 5rem;
        float: left;
        z-index: 2;
    }

    &__links-container {
        float: right;
        padding-top: 1rem;
    }

    &__link {
        font-family: "Istok Web";
        font-weight: 700;
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 1.4rem 1.6rem;
        text-decoration: none;
        //Pixel font-size: 14.4px
        font-size: 0.9em;
    }
}

.sticky {
    position: fixed;
    background-color: rgba(13, 13, 13, 0.9);
}

.nav__link:hover,
.mobile-nav__link:hover {
  color: #b875bf;
}

///////// Mobile Nav Section ////////

.mobile-nav {
    display: block;

    position: fixed;
    background-color: black;
    height: 20%;
    width: 100%;
    z-index: 1;
    padding-top: 6rem;

    &__link {
        &-container {
            @include flex-define(row,space-around ,center );
        }
        font-family: "Istok Web";
        font-weight: 400;
        text-decoration: none;
        display: block;
        padding-top: 4.5%;
        padding-left: 5%;
        color: #f2f2f2;
    }
}

.btn__mobile-nav {
    display:none;

    float: right;
    width: 6rem;
    margin: 1.1rem 1.7rem;
    z-index: 1;
    background-image: radial-gradient(
      circle at center,
      white 0,
      white,
      transparent 100%
    );
}

////////// Header Section //////////

#header {
    width: 100vw;
    height: 95vh;
    position: relative;

    background-image: linear-gradient(
        to right bottom,
        rgba(13, 13, 13, 0.5),
        rgba(13, 13, 13, 0.5)
      ),
      url("images/bg-milky-way.jpg");
    background-size: cover;
    background-position: center;
    color: #f2f2f2;
}

.header {
    &__container {
        @include flex-define(row,space-around,center);

         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-60%, -50%);
    }

    &__title-container {
        @include flex-define(column, flex-start, center);
        white-space: nowrap;
    }

    &__link-container {
        @include flex-define(column,flex-start,center);
        margin-left: 2.5rem;
    }

    &__link {
        margin: 1rem 0;
        background: none;
        font-family: "Average";
        border: 3px solid #b875bf;
        color: white;
        padding: 0.3em;
        //font-size: 18px
        font-size: 1.1em;
        white-space: nowrap;
        text-align: center;
        text-decoration: none;
    }
}

////////// About Section //////////

.about {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    column-gap: 3rem;
    row-gap: 2rem;

    &__title {
        @include h2-title-style;

        &-container {
            @include grid-item-define(1, -1, 1, 2);
            text-align: center;
            // margin-top: 2rem;
        }
    }

    &__text-container {
        @include grid-item-define(1, 2, 2, -1);
        margin-left: 2rem;
    }

    &__greeting,
    &__skills-heading {
        @include h3-title-style;
    }

    &__skills {
        &-container {
        @include grid-item-define(2, -1, 2, -1);
        }

        &-list {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            max-width: 40rem;
        }
    }

    &__skill {
        @include skill-style(0 1.5rem 1.5rem 0);
    }
}

////////// Projects Section //////////

.projects {
    background-color: #f1f1f1;

    &__title {
        @include h2-title-style;

        &-container {
            width: 100%;
            text-align: center;
            // margin-top: 2rem;
            // padding-top: 1rem;
        }
    }

    &__card {
        text-align: center;
        background-color: white;
        flex: 0 0;
        margin: 0 2% 2% 2%;
        //padding: 30px
        padding: 3rem;

        border-radius: 20px;
        //box-shadow: 3px 3px 15px
        box-shadow: 0.3rem 0.3rem 1.5rem;

        &-container {
            @include flex-define (row, space-around, center);
            flex-wrap: wrap;
        }

        &-title {
            @include h3-title-style;
        }

        &-img {
            //width: 350px
            width: 35rem;
        }

        &-text {
            text-align: left;
            margin-bottom: 10%;
        }
    }

    &__skills-list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0.6rem;
    }

    &__skill {
        @include skill-style(1rem);
    }

    &__btn {
        &-live {
            @include project-btn-style(0 2rem 0 0);
        }

        &-code {
            @include project-btn-style(0 0 0 2rem);
        }
    }
}

////////// Contact Section //////////@at-root
#contact {
    background-image: linear-gradient(
        to right bottom,
        rgba(13, 13, 13, 0.6),
        rgba(13, 13, 13, 0.6)
      ),
      url("images/bg-milky-way-footer.jpg");
    background-size: cover;
    background-position: center;
}
.contact {
    @include flex-define(column,flex-start,center );

    &__title {
        @include h2-title-style;
        color: white;

        &-container {
            text-align: flex-start;
            margin-top: 2rem;
        }
    }

    &__link {
        width: 5rem;
        margin: 0.5rem 3rem;

        &s-container {
            margin: 2rem 0;
        }
    }
}

@media only screen and (max-width: 560px) {
    .nav__links-container {
        display: none;
    }
    
      .mobileNav {
        display: none;
    }
    
      .btn__mobile-nav {
        display: inline-block;
    }

    .header {
        &__container {
            @include flex-define(column,space-around,center);

            position: relative;
            top: 30%;
            left: 0;
            transform: none;
        }

        &__title {

            &-container {
            width: 100
            }
        }

        &__link {

            &:first-child {
                margin: 0 2.5rem 0 0;
            }

            &-container {
            @include flex-define(row,center,center);
            margin: 0;
            }
        }
    }

    .about {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;

        &__greeting {
            text-align: center;
        }

        &__title-container {
            @include grid-item-define(1, -1, 1, 2);
        }

        &__text-container {
            @include grid-item-define(1, -1, 2, 3);
        }

        &__skills {
            &-container {
                @include grid-item-define(1, -1, 3, -1);
                @include flex-define(column, center, center);
            }
            &-list {
                justify-content: center;

            }
        }
    }

    .projects {
        &__card {
            margin: 2rem 0 2rem 0;
            width: 50rem;

            &-img {
                width: 30rem;
            }
        }
    }

    .contact__link {
        margin: 0.5rem 1rem;

    }
}
